<div class="teste-show"

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gatineo.Name %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @gatineo.Cor %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @gatineo.Tutor %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @gatineo.Raça %>
</p>

<%= link_to 'Edit', edit_gatineo_path(@gatineo) %> |
<%= link_to 'Back', gatineos_path %>

</div>